<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16D32</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Kudan AR Toolkit</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>eu.kudan.Kudan-AR-Toolkit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Kudan AR Toolkit</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.10</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>14</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8C1002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16C58</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0821</string>
	<key>DTXcodeBuild</key>
	<string>8C1002</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Kudan. All rights reserved.</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>https://api.kudan.eu/KudanARToolkit/ARToolkitAppcast.xml</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
				<string>public.item</string>
				<string>public.directory</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Kudan AR Project</string>
			<key>UTTypeIconFile</key>
			<string>ToolkitIcon</string>
			<key>UTTypeIdentifier</key>
			<string>eu.kudan.artoolkit.arproject</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<array>
					<string>ARProject</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>arproject</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/octet-stream</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
				<string>public.item</string>
				<string>public.directory</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Kudan AR Project</string>
			<key>UTTypeIconFile</key>
			<string>ToolkitIcon</string>
			<key>UTTypeIdentifier</key>
			<string>eu.kudan.artoolkit.arproject</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<array>
					<string>ARProject</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>arproject</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/octet-stream</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
